*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --replaceMeBrown: hsl(23, 44%, 14%);
}

@font-face {
  font-family: casinoSign3d;
  src: url(../fonts/Casino3DLinesMarquee.ttf);
}
@font-face {
  font-family: casinoSign;
  src: url(../fonts/CasinoShadow.ttf);
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1px);
  }
}
body {
  background-color: hsl(0, 85%, 11%);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--replaceMeBrown);
  height: 20vh;
  min-height: 140px;
  position: relative;
  border: 10px black double;
  border-radius: 10px;
}
header h1 {
  font-size: 15vw;
  font-family: casinoSign3d;
  z-index: 1;
}
header h1:nth-child(2) {
  position: absolute;
  animation: moveLeftRight 0.5s infinite alternate;
  z-index: 0;
  color: yellow;
}

.table {
  height: 60vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 1rem;
  gap: 1rem;
  /* transform: rotateX(30deg);
  transform-origin: center; */
  background-color: hsl(140, 82%, 13%);
  padding: 1rem;
  margin: auto;
  border-radius: 10px;
}
.table div {
  position: relative;
  border: solid black;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.table h2 {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: casinoSign;
  font-size: 3rem;
}
