/* ///////////////////////////// */
/* ///////Variable Definitions// */
/* ///////////////////////////// */
:root {
  --headerBlack: hsl(0, 0%, 2%);
  --tableBorders: 5px solid var(--tableWhiteFaded);
  --tableGreen: hsl(140, 82%, 13%);
  --tableWhite: hsl(30, 3%, 69%);
  --tableWhiteFaded: hsla(30, 3%, 69%, 0.8);
}

/* ///////////////////////////// */
/* //////Font Definitions/////// */
/* ///////////////////////////// */
@font-face {
  font-family: casinoSign3d;
  src: url(../fonts/Casino3DLinesMarquee.ttf);
}
@font-face {
  font-family: casinoSign;
  src: url(../fonts/CasinoShadow.ttf);
}
@font-face {
  font-family: boardfont;
  src: url(../fonts/grandCasinoRegular.otf);
}

/* ///////////////////////////// */
/* ////Animation Definitions//// */
/* ///////////////////////////// */
@keyframes moveLeftRight {
  0% {
    transform: translate(0, 8%);
  }
  100% {
    transform: translate(0.05rem, 8%);
  }
}

/* ///////////////////////////// */
/* /////////Page Styles///////// */
/* ///////////////////////////// */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(0, 93%, 5%);
  height: 100vh;
  text-align: center;
  width: 100vw;
}

/* ///////////////////////////// */
/* ///////Header Styles///////// */
/* ///////////////////////////// */
header {
  align-items: center;
  background-color: var(--headerBlack);
  border: 10px black double;
  border-radius: 10px;
  display: flex;
  height: 10vh;
  justify-content: center;
  position: relative;
  width: 100%;
}
header h1 {
  clip-path: inset(0 0 10% 0);
  display: flex;
  font-family: casinoSign3d;
  font-size: clamp(30px, 4vw, 500px);
  margin: 0;
  transform: translateY(8%);
  z-index: 1;
}
header h1:nth-child(2) {
  color: yellow;
  position: absolute;
  z-index: 0;

  /* animation: moveLeftRight 0.5s infinite alternate; */
}

/* ///////////////////////////// */
/* ///////Main Styles/////////// */
/* ///////////////////////////// */
main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 15vh);
  padding: 5px;
  position: relative;
}

/* ///////////////////////////// */
/* ///////Game Table Styles///// */
/* ///////////////////////////// */
.table {
  background-color: var(--tableGreen);
  border: var(--tableBorders);
  border-radius: 20px 20px 50% 50%;
  display: grid;
  gap: 5vh;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  padding: 2rem;
  width: 100%;
}

/* Play Areas */
.table > div {
  border: var(--tableBorders);
  border-radius: 10px;
  justify-self: center;
  position: relative;
  width: clamp(300px, 50%, 50%);
  height: calc(100% - 20px);
}
@media screen and (max-width: 600px) {
  .table > div:nth-child(2) {
    border-radius: 10px 10px 50% 50%;
  }
}

/* Play Area Header */
.table > div > h2 {
  background-color: var(--tableGreen);
  border: var(--tableBorders);
  border-radius: 10px;
  color: var(--tableWhiteFaded);
  font-family: boardFont;
  font-size: clamp(40px, 2vw, 2vw);
  left: 50%;
  padding: 5px;
  position: absolute;
  top: -1.25rem;
  transform: translateX(-50%);
}

/* ///////////////////////////// */
/* ////////Card Styles////////// */
/* ///////////////////////////// */
.playingCard {
  box-shadow: -5px 5px 5px black;
  margin-left: -70px;
}

/* ///////////////////////////// */
/* ///////ScoreBoard Styles///// */
/* ///////////////////////////// */
.score {
  color: var(--tableWhiteFaded);
  display: flex;
  justify-content: space-between;
}
.score h3 {
  font-size: clamp(1px, 3vw, 35px);
}

.score > div {
  display: flex;
  justify-content: space-between;
}
.score p {
  font-size: clamp(10px, 3vw, 35px);
}
